
:root {
  --bg-color: #FFECAD;
  --font-family: Inter, sans-serif;
  --color-pink: #EE6E93;
  --color-deep-yellow: #FFBB3B;
  --color-hotpink: #f85281;
  --accent-color: #0077ff;
  --text-gradient: linear-gradient(180deg, #F85281 0%, #FFF599 124%);
}

body{
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--color-pink);
}
nav{
  width:4rem;
  height auto;
}
nav a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: var(--color-hotpink);
  text-shadow: 0px 3px 2px var(--color-deep-yellow);
  text-decoration: none;
}

nav a:hover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: var(--bg-color);
  -webkit-text-stroke: 2px var(--color-hotpink);
  text-shadow: 0px 3px 2px var(--color-deep-yellow);
}
  
.section-title {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.gradient-text {
  font-weight: 900;
  font-size: clamp(2rem, 8vw, 8rem);
  margin: 0;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  position: relative;
  z-index: 2;
}

.yellow-shadow {
  color: var(--color-deep-yellow);
  margin: 0;
  position: absolute;
  left: 0.06em;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  font-size: clamp(2rem, 8vw, 8rem);
}


.shadow-text {
  color: black;
  margin: 0;
  position: absolute;
  top: 0.05em;
  z-index: 1;
  opacity: 0.25;
  pointer-events: none;
  user-select: none;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: clamp(2rem, 8vw, 8rem);
  filter: blur(1.5px);
}

.circles {
border-radius: 50%;
}
